In [2]:
import csv
import pandas as pd

data = pd.read_csv('2.csv', na_values=['NA']) #open csv

data = pd.DataFrame(data) #creating dataframe to work with

In [3]:
data.pivot_table(index = ['ID', 'Имя', 'Год'], columns='Месяц', values='Уволен', fill_value= 2, dropna=True)

#creating pivot_table to manipulate its values (setting multiple vertical indexes and a horizontal one, filling NaN values with )

Месяц                  1  2  3  4  5  6
ID Имя           Год
1  Иван петрович 2018  0  0  0  1  1  1
2  Петр Иванович 2018  0  0  0  0  0  0

In [4]:
def color_red(values):
    color = 'red' if values == 1 else None
    return 'background-color: %s' % color
    
data.pivot_table(index = ['ID', 'Имя', 'Год'], columns='Месяц', values='Уволен', fill_value= 1, dropna=True).style.applymap(color_red)